* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
}

/* màn hình mobile */
/* html {
  font-size: 8px;
} */

:-webkit-any(article, aside, nav, section) h1 {
  font-size: unset;
  margin-block-start: unset;
  margin-block-end: unset;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}